* {
    margin:0;
}
.todo-app{
    max-width:530px;
    margin:auto;
    background-color:#2097ff;
}
.title {
    padding:10px;
    text-align:center;
    color:white; 
}
.add-todo {
    text-align:center;
    padding:10px 0;
}
.add-todo input {
    border:0px;
}
.todo-container {
    background-color:#eee;
}
.todo-container ul {
    list-style: none;
}
.todo-container ul li {
    padding: 15px 0;
    cursor:pointer;
}
.todo-container ul li:hover{
    background-color: #aaa;
}
.done { /* 완료된 것을 표현 */
    text-decoration:line-through;
}